---
import TableOfContentsIsland from "./TableOfContentsIsland.tsx";

import "./TableOfContentsSection.css";

export interface Props {
  sections: { id: string; title: string }[];
}

const { sections } = Astro.props;
---

<div class="flex flex-col lg:flex-row gap-8">
  <details class="lg:hidden sticky top-6 bg-white rounded-xl shadow-md">
    <summary
      class="cursor-pointer list-none z-20 px-4 py-3 flex justify-between items-center text-blue-900 font-bold"
    >
      Reglamento
      <span class="toc-arrow text-sm">▼</span>
    </summary>

    <nav>
      {
        sections.map((section) => (
          <a
            href={`#${section.id}`}
            data-target={section.id}
            class="toc-link block hover:bg-blue-50 text-gray-600 hover:text-blue-900 text-sm px-4 py-3"
          >
            {section.title}
          </a>
        ))
      }
    </nav>
  </details>

  <div class="flex-1">
    <slot />
  </div>

  <aside class="hidden lg:block sticky top-12 mb-12 self-start">
    <nav class="flex flex-col">
      {
        sections.map((section) => (
          <a
            href={`#${section.id}`}
            data-target={section.id}
            class="toc-link border-l border-gray-200 text-gray-600 hover:border-blue-900 hover:text-blue-900 text-sm pl-4 pt-2 pb-2"
          >
            {section.title}
          </a>
        ))
      }
    </nav>
  </aside>
</div>

<TableOfContentsIsland client:load />
